{% extends "base.html" %}

{% block content %}
<div class="container" id="contentMySinppets">
	<div class="navbar">
		<div class="navbar-inner">
			<form class="navbar-form pull-left" method="post" action="{% url 'snippetmanager:my_snippets_sorted' %}">
				{% csrf_token %}
				<select name="project">
					<option value="0">Search By Project | All</option>
					{% for project in projects %}
						<option value="{{ project.id }}" {% if project.id == project_id %} selected {% endif %}>{{ project.name }}</option>
					{% endfor %}
				</select>
				<select name="category">
					<option value="0">Search By Type | All</option>
					{% for cat in cats %}
						<option value="{{ cat.id }}" {% if cat.id == cat_id %} selected {% endif %}>{{ cat.name }}</option>
					{% endfor %}
				</select>
				<input type="text" class="search-query span2" name="keyword" placeholder="Keyword">
				<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
			</form>
			<button type="button" class="btn btn-primary" style="float: right;"><i class="icon-align-justify icon-white"></i></button>
		</div>
	</div>

	<div class="pagination">
		<ul>
		{% if snippets.has_previous %}
			<li><a href="?page={{ snippets.previous_page_number }}">Prev</a></li>
		{% endif %}
		{% for range in snippets.paginator.page_range %}
			<li class="{% if range == snippets.number %}active{% endif %}"><a href="?page={{range}}">{{ range }}</a></li>
		{% endfor %}
		{% if snippets.has_next %}
			<li><a href="?page={{ snippets.next_page_number }}">Next</a></li>
		{% endif %}
		</ul>
	</div>		

	<div class="row row-desktop" style="padding-left: 20px">
		<ul class="thumbnails">
			{%  for snippet in snippets %}
			<li class="span4">
			<div class="thumbnail">
				<textarea readonly class="codes" style="height: 200px; width: 100%; resize: none; background-color: white; color: black; overflow: hidden;" name="codes" id="mySnippetsSnippet">{{ snippet.code }}</textarea>
				<div class="caption">
				<h4>{{ snippet.title }} <span style="font-size: small; color: red;">{{ snippet.category_name }}</span></h4>
				<pre style="border: 0px;">{{ snippet.description }}</pre>
				<p>
					<a href="{% url 'snippetmanager:edit_snippet' snippet.id %}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
					<a href="#" url="{% url 'snippetmanager:delete_snippet' snippet.id %}" class="btn btn-danger delete-snippet"><i class="icon-trash icon-white"></i> Delete</a>
					{% if snippet.improve %}<span class="label label-success">Improvable</span>{% endif %}
					{% if snippet.public %}<span class="label label-important">Public</span>{% endif %}
				</p>
				</div>
			</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	 
	<!-- Modal -->
	<div id="mysnippetDeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header" style="background-color: #df382c;">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="deleteSnippetModalHeader" style="color: white;">Warning!</h3>
  		</div>
		<div class="modal-body">
			<p><strong>Are you sure you want to delete this snippet? It can't be undone...</strong></p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary" id="deleteSnippetYes">Yes</button>
		</div>
	</div>

</div> <!-- /container -->
{% endblock %}