{% extends "base.html" %}

{% block content %}
<div id="fb-root"></div>
<script>

window.fbAsyncInit = function() {
	// init the FB JS SDK
	FB.init({
		appId      : '497371283685919',                        // App ID from the app dashboard
		channelUrl : 'http://sourcesnippeter.dsonic.webfactional.com/static/js/channel.html', // Channel file for x-domain comms
		status     : true,                                 // Check Facebook Login status
		xfbml      : true                                  // Look for social plugins on the page
	});

	// Additional initialization code such as adding Event Listeners goes here
	FB.Event.subscribe('edge.create',
	    function(response) {
	    	var params = {
	    		'url': response
	    	};

	        $.post('/facebook_like', params, function(data) {
	        	if (! data.status) {
	        		console.log('internal_error');
	        	}
	        }, 'json');
	    }
	);

	// Additional initialization code such as adding Event Listeners goes here
	FB.Event.subscribe('edge.remove',
	    function(response) {
	    	var params = {
	    		'url': response
	    	};

	        $.post('/facebook_unlike', params, function(data) {
	        	if (! data.status) {
	        		console.log('internal_error');
	        	}
	        }, 'json');
	    }
	);
};

// Load the SDK asynchronously
(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=497371283685919";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<div class="container" id="contentSnippetWorld">
	<fb:like ref="test" href="http://sourcesnippeter.dsonic.webfactional.com?home" width="450" layout="button_count" end="true"></fb:like>
	<input type="hidden" value="git test">
	<div class="navbar">
		<div class="navbar-inner">
			<form class="navbar-form pull-left" method="post" action="{% url 'snippetmanager:snippet_world_sorted' %}">
				{% csrf_token %}
				<select name="category">
					<option value="0">Search By Type | All</option>
					{% for cat in cats %}
						<option value="{{ cat.id }}" {% if cat.id == cat_id %} selected {% endif %}>{{ cat.name }}</option>
					{% endfor %}
				</select>
				<input type="text" class="search-query span2" name="keyword" placeholder="Keyword">
				<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
			</form>
		</div>
	</div>

	<div class="pagination">
		<ul>
		{% if snippets.has_previous %}
			<li><a href="?page={{ snippets.previous_page_number }}">Prev</a></li>
		{% endif %}
		{% for range in snippets.paginator.page_range %}
			<li class="{% if range == snippets.number %}active{% endif %}"><a href="?page={{range}}">{{ range }}</a></li>
		{% endfor %}
		{% if snippets.has_next %}
			<li><a href="?page={{ snippets.next_page_number }}">Next</a></li>
		{% endif %}
		</ul>
	</div>		

	<div class="row row-desktop" style="padding-left: 20px">
		<ul class="thumbnails">
			{%  for snippet in snippets %}
			<li class="span4">
			<div class="thumbnail">
				<textarea readonly class="codes" style="height: 200px; width: 100%; resize: none; background-color: white; color: black; overflow: hidden;" name="codes" id="mySnippetsSnippet">{{ snippet.code }}</textarea>
				<div class="caption">
				<h4>{{ snippet.title }} <span style="font-size: small; color: red;">{{ snippet.category_name }}</span></h4>
				<pre style="border: 0px;">{{ snippet.description }}</pre>
				<p>
					<a href="{% url 'snippetmanager:public_snippet_detail' snippet.id %}" class="btn btn-primary"><i class="icon-eye-open icon-white"></i> View</a>
					{% if snippet.improve %}<span class="label label-success">Improvable</span>{% endif %}
					<fb:like ref="{{ snippet.id }}" source="sourceworld" href="http://sourcesnippeter.dsonic.webfactional.com?{{ snippet.id }}" width="450" layout="button_count"></fb:like>
				</p>
				</div>
			</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div> <!-- /container -->
{% endblock %}